/* Style for forms : in Quiz.html, ... */

/* Quiz form : */

form {
    width: 60%;
    margin: 50px auto 50px auto;
    background-color: #fff;
    padding: 10px 12px;
    border: 2px solid black;
    border-radius: 8px;
}

fieldset {
    border: 1px solid green;
    border-radius: 8px;
    margin: 10px;
}

legend {
    padding: 5px 10px;
    border: 2px solid red;
    border-radius: 8px;
    color: blue;
    text-decoration-line: underline;
}

.questions {
    list-style-type: none;
    margin: 5px 0px;
}


/*rest to cf par rapport au tp3 :*/


input,
select {
    border: 2px solid green;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

button[type="submit"] {
    background-color: green;
    color: #fff;
    padding: 10px 50px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 0px auto;
    display: block;
}

button[type="submit"]:hover {
    background-color: darkgreen;
}
