section {
            max-width: 1000px;
            margin: 30px auto;
            padding: 0 20px;
        }

.team-section {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            gap: 30px;
            margin: 40px 0;
        }

.team-member {
            text-align: left;
            max-width: 300px;
        }

.team-member img {
            width: 200px;
            border-radius: 20px;
        }

.efrei-logo {
            width: 340px;
        }


#grp{
    font-size: 35px;
}




.stats {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content:center;
      margin-top: 30px;
      margin-bottom: 50px;
    }

.stat-card {
      flex: 1 1 250px;
      background-color: #f1f5ef;
      padding: 20px;
      border-radius: 10px;
      text-align: center;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }

.stat-card h3 {
      margin-bottom: 10px;
      color: #1a531e;
    }

.stat-card p{
    font-weight: bold;
}

footer {
      background-color: #1a531e;
      color: white;
      text-align: center;
      padding: 20px 0;
      position: relative;
      bottom: 0;
      width: 100%;
    }
