/* Style for tables : in About.html, ... */

table {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #333;
}

td,
th {
    border: 1px solid #333;
    padding: 5px;
    text-align: center;
    width: 30%;
}

thead th {
    padding: 10px;
}

caption {
    border: 2px solid #333;
    background-color: #2e7d32;
    color: rgb(176, 188, 255);
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
    border-radius: 5px;
}

thead,
tfoot {
    background-color: #2e7d32;
    color: #fff;
}

tbody tr:nth-child(odd) {
    background-color: #ddffe2;
}

tbody tr:nth-child(even) {
    background-color: #f2f8f3;
}