
#titleQuiz {
  margin-top: 90px;
}

/* Style for forms : in Quiz.html, ... */

/* Quiz form : */

form {
    width: 60%;
    margin: 50px auto 50px auto;
    background-color: #fff;
    padding: 10px 12px;
    border: 2px solid black;
    border-radius: 8px;
    text-align: left;
}

fieldset {
    border: 1px solid green;
    border-radius: 8px;
    margin: 10px;
}

legend {
    padding: 5px 10px;
    border: 2px solid red;
    border-radius: 8px;
    color: orange;
    text-decoration-line: underline;
}

.questions ul {
    list-style-type: none;
    padding: 5px;
    margin: 5px;
}

button[type="submit"] {
    background-color: green;
    color: #fff;
    padding: 10px 50px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 0px auto;
    display: block;
}

button[type="submit"]:hover {
    background-color: darkgreen;
}

button[type="submit"]:disabled {
    background-color: gray;
}

#quiz-results {
    display: inline-table;
    width: 50%;
}


/* Responsive navigation for smaller screens */
@media (max-width: 1115px) {
  nav ul {
    flex-direction: column;
  }

  header p {
    top: 5px;
    flex-direction: column;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

/* Card image style */
.card img {
  width: 100%;
  object-fit: cover; /* Ensures images cover their container while maintaining aspect ratio */
}
